html {
  background-color: #FFDB6E;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1{
  text-align: center;
}

.postsContainer {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.post {
  width: 400px;
  height: 210px;
  display: flex;
  margin: 20px 20px 0px 20px;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postImg {
  display: flex;
  align-items: center;
}

.postImg img{
    margin: 5px;
    width:  200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 0px 0px 8px;
}

.postData {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.postData p {
  margin: 0px;
}

.restaurantName {
  text-decoration: underline;
  font-weight: bold;
}

.addPostForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.addPostForm input {
  width: 175px;
  margin: 15px;
  border: 2px solid #BA9B00;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow:inset 0px 0px 1px 1px black;
  outline: none;
}

.addPostForm input::placeholder {
  font-weight: bold;
  font-size: 11px;
  color: black;
  text-align: center;
}


@media (max-width: 726px) {
 
  .postImg img{
    margin: 5px;
    width:  100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
  }

  .post {
    width: 300px;
    height: 110px;
  }

}
